{% macro physical_mode_picto(links) -%}
  {% set pm = links | selectattr("type", "equalto", "physical_mode") | map(attribute="id") | first %}
  {% set pm_src = "img/pictos/" ~ pm_imgs[pm] ~ ".svg" %}
  <img class="picto" src="{{ url_for('static', filename=pm_src) }}">
{%- endmacro %}

{% macro mode_picto(mode) -%}
  {% set picto_path = "img/pictos/" ~ mode_imgs[mode] ~ ".svg" %}
  <img class="picto" src="{{ url_for('static', filename=picto_path) }}">
{%- endmacro %}

{% macro line_picto(display_informations) -%}
  <span
    class="with-bg-color"
    style="background-color: #{{ display_informations.color }}; color: #{{ display_informations.text_color }};"
  >
    {{ display_informations.code }}
  </span>
{%- endmacro %}

{# https://github.com/TeXitoi/navitia-playground/blob/9ff73735e264232ea9176a68f059587f09b4a31b/js/summary.js#L58 #}
{% macro make_summary(journey) -%}

{% set ns = namespace(
  last_section_mode=None,
  first_section_mode=None,
  stay_in=False,
) %}

{# compute first_section_mode and last_section_mode #}
{% for section in journey.sections %}
  {% if section.type in ["public_transport", "on_demand_transport"] %}
    {% if not ns.first_section_mode %}
      {% set ns.first_section_mode = ns.last_section_mode %}
    {% endif %}
    {% set ns.last_section_mode = None %}
  {% elif section.type in ["crow_fly", "street_network"] %}
    {% if section.duration %}
      {% if section.mode == "bike"  %}
        {% set ns.last_section_mode = "bike" %}
      {% elif section.mode == "walking" %}
        {% if not ns.last_section_mode  %}
          {% set ns.last_section_mode = "walking" %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% elif section.type in ["bss_rent", "bss_put_back"] %}
    {% set ns.last_section_mode = "bss" %}
  {% endif %}
{% endfor %}

{# display infos #}
{{ journey.departure_date_time | datetime }}

{{ mode_picto(ns.first_section_mode) }} >

{# compute legs between first and last #}
{% for section in journey.sections %}
  {% if section.type == "transfer" and section.transfer_type == "stay_in" %}
    {% set ns.stay_in = True %}
  {% endif %}
  {% if section.type in ["public_transport", "on_demand_transport"] %}
    {% if ns.stay_in %}
      {{ physical_mode_picto(section.links) }} >
      {% set ns.stay_in = False %}
    {% else %}
      {{ physical_mode_picto(section.links) }} {{ line_picto(section.display_informations) }} >
    {% endif %}
  {% endif %}
{% endfor %}

{{ mode_picto(ns.last_section_mode) }}
{{ journey.arrival_date_time | datetime }}
{%- endmacro %}

{# https://github.com/TeXitoi/navitia-playground/blob/9ff73735e264232ea9176a68f059587f09b4a31b/js/summary.js#L272C31-L272C31 #}
{% macro process_type(section) -%}
  {% if section.type == "street_network" %}
    {{ mode_picto(section.mode) }}
  {% elif section.type == "bss_rent" %}
    {{ mode_picto("bss") }} {{ mode_picto("exit") }}
  {% elif section.type == "bss_put_back" %}
    {{ mode_picto("bss") }} {{ mode_picto("entrance") }}
  {% elif section.type == "transfer" %}
    {% if section.transfer_type == "walking" %}
      {{ mode_picto("walking") }}
    {% else %}
      {{ section.transfer_type }}
    {% endif %}
  {% elif section.type == "public_transport" %}
    <div class="pm_container">
      {% if section.links %}
        {{ physical_mode_picto(section.links) }}
      {% endif %}
      {% if section.get("display_informations", {}).code %}
        {{ line_picto(section.display_informations) }}
      {% endif %}
    </div>
  {% elif section.type == "crow_fly" %}
    {% if section.duration %}
      {{ mode_picto(section.mode) }} ({{ section.type }})
    {% else %}
      {{ section.type }}
    {% endif %}
  {% else %}
    {{ section.type }}
  {% endif %}
{%- endmacro %}
